<app-header></app-header>
<div class="container">
        <div class="row" *ngIf="!patientInvoiceDetail">
            <h3>Patient Details</h3>
            <div class="patient-details">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control contact-input" required name="contact" [(ngModel)]="mobile_no"
                    id="contact">
                <br>
                <button (click)="fetchUserInvoices()" [disabled]="!mobile_no" class="btn btn-primary mar20t">fetch
                    Invoices</button>
            </div>
        </div>
        <div *ngIf="patientHeader" class="row header-border margin-20t">
            <div class="">
                <label class="mar20">Patient Id: {{patientHeader.patient_id}}</label>
                <label class="mar20">Patient Name: {{patientHeader.patient_name}}</label>
                <label class="mar20">Age: {{patientHeader.age}}</label>
                <label class="mar20">Sex: {{patientHeader.sex}}</label>
                <label class="mar20">Phone: {{patientHeader.mobile_no}}</label>
                <label class="mar20">Patient Type: {{patientHeader.patient_type}}</label>
                <!-- <label class="mar20">Last Visit: {{patientHeader?.last_visit}}</label>       -->
                <!-- <label class="mar20">Total Invoice Amount: {{patientHeader.net_inv_amount}}</label>
                <label class="mar20">Total Paid: {{patientHeader.net_inv_paid}}</label>
                <label class="mar20">Total Balance: {{patientHeader.net_inv_balance}}</label>
                <label class="mar20">Advance Amount: {{patientHeader.advance_amount_paid}}</label>
                <label class="mar20">Advance Balance: {{patientHeader.advance_amount_balance}}</label> -->
            </div>
    
        </div>
        <ng-container  *ngIf="isShowPatientHeader">
            <form [formGroup]="insuranceform">
                <div class="row header-border margin-20t">
                    <div class="col-6 form-group">
                        <label for="doctor_id" class="">Doctor ID :</label>
                        <select class="form-control" name="doctor_id"  formControlName="doctor_id">
                            <option value="undefined" selected disabled>--Select--</option>
                            <option *ngFor="let doctor of doctorList" [value]="doctor.doctor_id">{{doctor.doctor_name}}</option>
    
                        </select>
                    </div>
                    <div class="col-6 form-group">
                        <label for="bu_id" class="">Bu ID :</label>
                        <select class="form-control" name="bu_id"  formControlName="bu_id">
                            
                            <option value="undefined" selected disabled>--Select--</option>
                            <option *ngFor="let bu of buList" [value]="bu.bu_id">{{bu.bu_name}}</option>
    
                        </select>
                    </div>
                    <div class="col-6 form-group">
                        <label for="diagnosis" class="">Diagnosis:</label>
                        <input type="text" class="form-control" formControlName="diagnosis"  name="diagnosis"
                        id="diagnosis">
                    </div>
                    <div class="col-6 form-group">
                        <label for="history" class="">History  :</label>
                        <input type="text" class="form-control" formControlName="history"  name="history"
                        id="history">
                    </div>
                    <div class="col-12 form-group">
                        <label for="footer" class="">Footer  :</label>
                        <textarea class="form-control" formControlName="footer"  name="footer"
                        id="footer"></textarea>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 txt-center">
                        <button type="button" class="btn btn-primary mar30" [disabled]="insuranceform.invalid"
                        (click)=submitData()>
                        Submit
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </ng-container>

        <!-- //multiple details -->
        <ng-container  *ngIf="isShowPatientInputForm">
            <form [formGroup]="patientInputForm">
                <div class="col-6 header-border margin-20t">
                    <div class="col-6 form-group">
                            <label class="">Dialysis Date :</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dialysis_date">
                                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                    </div>
                    <div class="col-6 form-group">
                        <label class="">HD STARTING TIME :</label>
                        <input type="text" class="form-control" formControlName="hd_start_time"  name="hd_start_time"
                        id="hd_start_time">
                    </div>
                    <div class="col-6 form-group">
                        <label class="">HD ENDING TIME:</label>
                        <input type="text" class="form-control" formControlName="hd_end_time"  name="hd_end_time"
                        (change)="getEndTime()"
                        id="hd_end_time">
                    </div>
                    <div class="col-6 form-group">
                        <label for="history" class="">DURATION :</label>
                        <input type="text" class="form-control" formControlName="hd_duration"  name="hd_duration"
                        id="hd_duration">
                    </div>
                    <div class="d-flex form-group p-20">
                         <div class="col-md-6">
                            <h6>PRE DIALYSIS</h6>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>WT</mat-label>
                                    <input matInput placeholder="Pre WT" value="" formControlName="pre_wt">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>BT</mat-label>
                                    <input matInput placeholder="Pre BT" value="" formControlName="pre_bt">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>PULSE</mat-label>
                                    <input matInput placeholder="Pre pulse" value="" formControlName="pre_pulse">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>TEMP</mat-label>
                                    <input matInput placeholder="Pre TEMP" value="" formControlName="pre_temp">
                                </mat-form-field>
                            </div>
                         </div>
                         <div class="col-md-6">
                            <h6>POST DIALYSIS</h6>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>WT</mat-label>
                                    <input matInput placeholder="post WT" value="" formControlName="post_wt">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>BT</mat-label>
                                    <input matInput placeholder="post BT" value="" formControlName="post_bt">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>PULSE</mat-label>
                                    <input matInput placeholder="post pulse" value="" formControlName="post_pulse">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>TEMP</mat-label>
                                    <input matInput placeholder="post TEMP" value="" formControlName="post_temp">
                                </mat-form-field>
                            </div>
                         </div>
                    </div>
                    <div class="d-flex form-group">
                        <div class="col-6">
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>FLOW</mat-label>
                                    <input matInput placeholder="flow" value="" formControlName="curr_flow">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>FLUID REMOVAL</mat-label>
                                    <input matInput placeholder="fluid removal" value="" formControlName="fluid_removal">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>COMPLICATION</mat-label>
                                    <input matInput placeholder="complication" value="" formControlName="complication">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>DRUGS</mat-label>
                                    <input matInput placeholder="drugs" value="" formControlName="drugs">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">

                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary mar30" [disabled]="patientInputForm.invalid"
                            (click)=nextPrev()>
                            Next Prev
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary mar30" [disabled]="patientInputForm.invalid"
                            (click)=prev()>
                            Prev
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary mar30" [disabled]="patientInputForm.invalid"
                            (click)=next()>
                            Next
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary mar30" [disabled]="patientInputForm.invalid"
                            (click)=save()>
                            Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>

</div>