<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img class="header-logo" [routerLink]="['/landing']">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="showHeader">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            OP
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/apt-booking'" href="#">Appointment Booking</a></li>
            <li><a class="dropdown-item" [routerLink]="'/patient-reg'">Patient Registration</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="'/doc-consult'" href="#" id="navbarDropdownMenuLink2"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Doctor Consultation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li class="dropdown-item">DOc Consult</li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Billing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/billing'" href="#">Billing</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/invoice'" href="#">Invoice & Payment</a>
            </li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/adv-payment'" href="#">Advance
                Payment</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/print'" href="#">Print</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/insurance'" href="#">Insurance</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/patientwise-report'" href="#">Patientwise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/collectionwise-report'" href="#">Collectionwise Report</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>