<app-header></app-header>
<div class="container">
    <div class="row">
        <h1>Welcome {{userData.user_id}}</h1>
        <div>Branch - {{userData.branch_id}}</div>
    </div>
    <div class="row">
        <h2>Appointments Listing</h2>
        <table class="table">
            <thead>
              <tr>
               
                <th scope="col">Patient ID</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Date of Appointment</th>
              </tr>
            </thead>
            <tbody *ngIf="aptData?.length > 0">
              <tr *ngFor="let apt of aptData" >                
                
                <td>{{apt.patient_id}}</td>
                <td>{{apt.patient_name}}</td>
                <td>{{apt.mobile_no}}</td>
                <td>{{apt.doa}}</td>
              </tr>
              
            </tbody>
            <span *ngIf="aptData?.length === 0">No records</span>
          </table>
    </div>
</div>
