<app-header></app-header>

<div #appointBooking class="container">
    <div class="row">
        <h1>Apointment Booking</h1>
        <form #aptBookingForm="ngForm" novalidate>
            <div class="row">
                <div class="col-lg-6">
                    <div class=" patient-apt-item">
                        <label for="patientID" class="form-label">Patient ID</label>
                        <input type="text" class="form-control" name="patientID" [(ngModel)]="aptObj.patient_id"
                            id="patientID">
                    </div>
                    <div class=" patient-apt-item">
                        <label for="patientName" class="form-label">Patient Name</label>
                        <input type="text" class="form-control" name="patientName" [(ngModel)]="aptObj.patient_name"
                            id="patientName">
                    </div>

                    <div class=" patient-reg-item">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control" required name="contact" [(ngModel)]="aptObj.mobile_no"
                            id="contact">
                            <button (click)="fetchUser()" [disabled]="!aptObj.mobile_no" class="btn btn-primary mar20t">fetch contact details</button>
                    </div>
                    <div class="patient-reg-item mar20t">
                        <label for="aptDate" class="form-label">Appointment Date</label>
                        <!-- <input type="datetime-local" id="meeting-time" name="meeting-time" [(ngModel)]="aptObj.aptDate"
                            [min]="currentDate"> -->
                        <input type="date" required min="{{currentDate|date:'yyyy-MM-dd'}}" class="form-control" name="aptDate" [(ngModel)]="aptObj.doa"
                            id="aptDate">
                    </div>
                    <!-- <div class="patient-reg-item">
                        <label for="aptTime" class="form-label">Time</label>                        
                        <input type="time" class="form-control" min='03:00' name="aptTime" [(ngModel)]="aptObj.aptTime"
                            id="aptTime">
                    </div> -->

                </div>

            </div>

            <button [disabled]="!aptBookingForm.valid" (click)="bookApt()" class="btn btn-primary mar20t">Book</button>
        </form>
    </div>
</div>