<app-header></app-header>
<div class="container">
    <div class="row">
      <h1> Login</h1>
        <form class="col-lg-6 pad30">
            <div class="mb-3">
              <label for="userId" class="form-label">User ID</label>
              <input type="text" class="form-control" id="userId" aria-describedby="userid">
              
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button (click)="login()" class="btn btn-primary">Login</button>
          </form>
    </div>
   
</div>
