<app-header></app-header>
<div class="container">
    <div class="row">
        <h1>Patient Registration</h1>
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class=" patient-reg-item">
                        <label for="patientName" class="form-label">Patient Name</label>
                        <input type="text" class="form-control" name="patientName" [(ngModel)]="patientRegObj.patient_name"
                            id="patientName">
                    </div>

                    <div class=" patient-reg-item">
                        <label for="contact" class="form-label">Mobile</label>
                        <input type="text" class="form-control" name="contact" [(ngModel)]="patientRegObj.mobile_no"
                            id="contact">
                    </div>
                    <div class=" patient-reg-item">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="patientRegObj.email"
                            id="email" aria-describedby="emailHelp">
                    </div>
                    <div class=" patient-reg-item">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" name="address" [(ngModel)]="patientRegObj.add1"
                            id="address"></textarea>
                    </div>
                    <div class=" patient-reg-item">
                        <label for="pincode" class="form-label">Adhar No</label>
                        <input type="text" class="form-control" name="pincode" [(ngModel)]="patientRegObj.aadhar_no"
                            id="pincode">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="patient-reg-item">
                        <label for="dob" class="form-label">DOB</label>
                        <input type="date" class="form-control" name="dob" [(ngModel)]="patientRegObj.dob" id="dob">
                    </div>
                    <div class='row'>
                        <div class="col-lg-4 patient-reg-item sex">
                            <label for="dob" class="form-label block" >Sex</label>
                            <input class="form-check-input mar10lr" [value]="'M'" [(ngModel)]="patientRegObj.sex" type="radio" name="male" id="male">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                            <input class=" form-check-input mar10lr" [value]="'F'" [(ngModel)]="patientRegObj.sex" type="radio" name="female" id="female">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div> 
                        <div class="col-lg-8">
                            <label class="form-label">Patient Type</label>
                            <select class="form-control" name="patient_type" [(ngModel)]="patientRegObj.patient_type">                                
                                
                                <option value="W">Working</option>                                
                                <option value="C">CM Care</option>
                                <option value="N">Normal</option>
                                <option value="R">Corporate</option>
                                <option value="P">Pensioner</option>
                                
                            </select>
                        </div> 
                    </div>
                                 

                <div class=" patient-reg-item">
                    <label for="lastDoc" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="lastDoc" [(ngModel)]="patientRegObj.phone"
                        id="lastDoc">
                </div>
                <div class=" patient-reg-item">
                    <label for="communicationAddress" class="form-label">Communication Address</label>
                    <textarea class="form-control" name="communicationAddress"
                        [(ngModel)]="patientRegObj.add2" id="communicationAddress"></textarea>
                </div>
                <div class=" patient-reg-item">
                    <label for="fvDate" class="form-label">First Visit Date</label>
                    <input type="date" class="form-control" name="fvDate" [(ngModel)]="patientRegObj.first_visit_date"
                        id="fvDate">
                </div>
            </div>
    </div>

    <button (click)="registerPatient()" class="btn btn-primary mar20t">Submit</button>
    </form>
</div>
</div>