<app-header></app-header>
<div class="container">
    <div class="row">
        <h1>Payment</h1>
    </div>
    
    <div *ngIf="billingArray?.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Serial#</th>
                    <!-- <th scope="col">Product Type</th> -->
                    <th scope="col">Net Amount</th>
                    <th scope="col">Net Paid</th>
                    <th scope="col">Payable Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of billingArray; let index">

                    <td>{{item.inv_srl_no}}</td>
                    <!-- <td>{{item.billAlias}}</td> -->
                    <td>{{item.net_amount}}</td>
                    <td>{{item.net_paid}}</td>
                    <td><button (click)="showPayment(item)">Make Payment</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div><button (click)="navigateToInvoice()" class="btn btn-primary mar20t">Back to Invoice
        </button></div>
</div>